<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Sunible</title>
<!-- Stylessheets -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-modal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/flat-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nanoscroller.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
<link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />


<!-- Third part javascript -->
<script src="{% static 'js/jq/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jq/jquery.uriAnchor.js' %}"></script>
<!-- Our javascript -->
<script src="{% static 'js/sunible.js' %}"></script>
<script src="{% static 'js/sunible.shell.js' %}"></script>
<script src="{% static 'js/sunible.util.js' %}"></script>
<script src="{% static 'js/sunible.landing.js' %}"></script>
<script>
	$ (function () {
		sunible.initModule($('#pages'));
	});
</script>
</head>
<body>
<div id="pages"></div>
</body>
</html>