/*
	styles for layout
*/

html,
body {
	height: 100%;
	min-height: 450px;
}

.pages {
	display: block;
	overflow: hidden;
	position: relative;
	min-width: 960px;
	min-height: 100%;
	height: auto !important;
	/*padding-bottom: 60px;*/
}
#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	z-index: 99;
}
#loading-image {
	position: absolute;
	top: 550px;
	left: 440px;
	z-index: 100;
	height: 400px;
	width: 500px;
}
footer.page_footer {
	position: absolute;
	left: 0;
	z-index: 6;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 90px;
}

header.page_header,
.page {
	display: block;
	margin: 0 5%;
}
.marker {
	display: none;
	border: none;
	cursor: pointer;
	padding: 0;
	height: 30px;
	width: 30px;
}
#map { position: absolute; top:18em; bottom:0; width: 100vw; height: 26vw;}
#search {position: absolute; z-index: 99; top: 13em; left: 36vw; width: 30vw; box-shadow: 5px 5px 5px #c4c4c4;}
@media (max-width: 667) {
.welcome {
	margin-left: 15vw;
	margin-top: -2em;

}
}
.welcome {
	margin-left: 23vw;
	margin-top: -5em;
}
.installer .table {
	position: absolute;
	width: 100%;
	left: 19em;
	top: 6em;
}
@media (min-width: 1200) {
.page {
	padding-top: 10px;
	overflow: visible;
}
}
.page {
	padding-top: 10px;
	padding-bottom: 30px;
	overflow: visible;
}

header.page_header{
	overflow: hidden;
	padding-top: 10px;
}

header.page_header .questions {
	float: right;
	margin-left: 20px;
	margin-top: 24px;
}
.block {
	height: 15em;
	width: 10em;
	margin: 20px;
	float: left;
}
.block.map {
	float: right;
}
.teaser {
	padding-left: 15vw;
}
img {
	height: 60px;
}